/* Entire Doc */

.container {
    width: 97%;
}


/* Header */

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
}


.header img {
    margin-top: 5px;
    height: 2.5em;
}


/* Navigation */

.nav {
    float: right;
}


.nav > li {
    list-style: none;
    float: right;
}


.nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: gray;
}


.nav a:hover{
    color: #47919A;
    opacity: 1;
}


.dropdown-menu li a {
    color: #70B894;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
}


/* Slideshow */

.slider {
    position: relative;
    width: 100%;
    height: 453px;
}


.slide {
    display: none;
    position: absolute;
    background: url('Images/gradient.png') center center no-repeat;
    background-size: cover;
    width: 100%;
}


.active-slide {
    display: block;
}


.slide-text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 100px;
    margin-bottom: 10px;
}


.slide-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}


.slide-img {
    text-align: center;
    padding: 1%;
}


.slider-nav {
    text-align: center;
    padding: .5%;
}


.arrow-prev {
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}


.arrow-next {
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}


.dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}


.dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}


.dots li.active-dot {
    color: #363636;
}


/* Columns */

.columns {
    padding: 3%;
    font-family: 'Roboto', sans-serif;
}


.columns h1 {
    font-size: 1.25em;
}


.columns img {
    width: 100%;
}

