/* Entire Doc */

.container {
    font-family: 'Roboto', sans-serif;
    width: 97%;
}


/* Header */

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
}


.header img {
    height: 3.15em;
}


/* Navigation */

.nav {
    float: right;
}


.nav > li {
    list-style: none;
    float: right;
}


.nav a {
    display: inline-block;
    padding: 1%;
    text-decoration: none;
    font-size: 1.25em;
    color: gray;
}


.nav a:hover{
    color: #47919A;
    opacity: 1;
}


.dropdown-menu li a {
    color: #70B894;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
}


/* Slideshow */

.slider {
    position: relative;
    width: 100%;
    height: 453px;
}


.slide {
    display: none;
    position: absolute;
    background: url('Images/gradient.png') center center no-repeat;
    background-size: cover;
    width: 100%;
}


.active-slide {
    display: block;
}


.slide-text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 90px;
    margin-bottom: 10px;
}


.slide-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}


.slide-img {
    vertical-align: center;
    text-align: center;
    padding: 1%;
    height: 450px;
}


.slider-nav {
    text-align: center;
    padding: .5%;
}


.arrow-prev {
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}


.arrow-next {
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}


.dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}


.dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}


.dots li.active-dot {
    color: #363636;
}


/* Columns */

.columns {
    padding: 3%;
    font-family: 'Roboto', sans-serif;
}


.columns h1 {
    font-size: 1.25em;
}


.columns img {
    width: 100%;
}


/* About */
.cover-about {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: bold;
    color: white;
    background: url('Images/about.jpg') no-repeat;
    padding: 2%;
    margin-bottom: 1%;
}


.cover-about h1 {
    font-size: 4em;
}


.cover-about a {
    color: #47919A;
}


.cover-about a:hover {
    color: #ED9D90;
    text-decoration: none;
}


.about-content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}


.about-content h1 {
    font-size: 2em;
    color: #47919A;
    text-align: center;
}


.profile {
    height: 450px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    border-bottom:0px;
}


.ruijing {
    background: url('Images/ruijing.jpg') no-repeat;
    background-size: cover;
}


.angel {
    background: url('Images/angel.jpg') no-repeat;
    background-size: cover;
}


.profile {
    transition: opacity 1s ease;
    color: white;
}


.profile-text {
    display: none;
    font-size: 1.075em;
}


.profile-text h2 {
    font-size: 2em;
}


.profile:hover {
    opacity: .8;
}


.profile:hover .profile-text {
    display: block;
}


/* Contact */
.cover-contact {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: bold;
    color: white;
    background: url('Images/contact.jpg') no-repeat;
    padding: 2%;
    margin-bottom: 1%;
}


.cover-contact h1 {
    font-size: 4em;
}


/* Contact */
.cover-contact {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: bold;
    color: white;
    background: url('Images/contact.jpg') no-repeat;
    padding: 2%;
    margin-bottom: 1%;
}


.cover-contact h1 {
    font-size: 4em;
}


/* Idea Wall */
.cover-ideawall {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-decoration: bold;
    color: white;
    background: url('Images/ideawall.png') center no-repeat;
    background-size: cover;
    padding: 2%;
    margin-bottom: 1%;
}


.cover-ideawall h1 {
    font-size: 4em;
}


.submit {
    text-align: right;
    display: block;
}


.submit a:hover {
    text-decoration: none;
}


.post {
    height: 480px;
}
